<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div><a href="/">Back to Home</a></div>
      <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
      <div class="flex gap-3 flex-wrap">
        <% users.forEach(function(user) { %>
        <div
          class="user max-w-72 p-4 rounded-lg bg-zinc-800 flex gap-3 flex-wrap"
        >
          <div class="bg-blue-500 w-full rounded-lg p-4 h-52">
            <div class="overflow-hidden">
              <img
                class="w-full h-full object-cover object-top"
                src="<%= user.image %>"
                alt=""
              />
            </div>
          </div>
          <h3 class="text-xl mt-3 tracking-tighter"><%= user.name %></h3>
          <p class="text-zinc-400"><%= user.email %></p>
          <div class="mt-10 flex gap-10">
            <a class="text-zinc-200" href="/delete/<%= user.id %>"
              >Delete User</a
            >
            <a class="text-red-500" href="/edit/<%= user.id %>">Edit User</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
